<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXeHE-Aw8PruzyZPBzCAxu9cQk5lsq0G0</string>
	<key>GCM_SENDER_ID</key>
	<string>143293404567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>k.testerFirebase</string>
	<key>PROJECT_ID</key>
	<string>test-670b2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-670b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143293404567:ios:91d649ddd18d66f17460d2</string>
</dict>
</plist>